/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f5f7;
    color: #333;
}

/* Estrutura geral */
.container {
    display: flex;
    min-height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #1e293b;
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0; /* Define o limite superior para a posição fixa */
    height: 100vh; /* Garante que a barra cubra toda a altura da tela */
    overflow-y: auto; /* Permite rolagem interna caso o conteúdo ultrapasse a altura da tela */
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #4caf50;
    color: #fff;
}

/* Conteúdo principal */
.main-content {
    flex-grow: 1;
    padding: 30px;
}

.main-content h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.main-content h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.main-content ul {
    margin-bottom: 20px;
}

.main-content ul li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #1e293b;
    color: white;
}

table th,
table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
    }

    .main-content {
        padding: 20px;
    }
}
