<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Classe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adicionar_classe.css') }}">
    <script>
        function showPopup(message) {
            alert(message);  // Exibe o pop-up com a mensagem
        }
    </script>
</head>
<body>

    <div class="container">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{{ url_for('chamada') }}">Chamada</a></li>
                <li><a href="{{ url_for('adicionar_classe') }}" class="active">Adicionar Classe</a></li>
                <li><a href="{{ url_for('adicionar_estudante') }}">Adicionar Estudante</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Adicionar Nova Classe</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <script>
                        {% for message in messages %}
                            showPopup("{{ message }}");
                        {% endfor %}
                    </script>
                {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('adicionar_classe') }}">
                <label for="classe_nome">Nome da Classe:</label>
                <input type="text" name="classe_nome" id="classe_nome" required>
                <button type="submit">Adicionar Classe</button>
            </form>
        </div>
    </div>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
              const checkboxes = document.querySelectorAll('.presenca');
              const contadorPresentes = document.getElementById('contador-presentes'); // Local para exibir a contagem de presentes

              // Função para atualizar o contador de presentes
              function atualizarContador() {
                const presentes = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;
                contadorPresentes.textContent = `Alunos que faltaram: ${presentes}`;
              }

              // Adiciona um listener para cada checkbox
              checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', atualizarContador);
              });

              // Inicializa o contador
              atualizarContador();
            });
          </script>

</body>
</html>
