{% extends "base/base.html" %}

{% block title %}Chamada{% endblock %}

{% block content %}
<div class="container text-light">
    <h1 class="mt-4">Chamada de Alunos</h1>

    <form method="GET" action="{{ url_for('chamada') }}" class="row g-3 mb-4">
        <div class="col-md-4">
            <select name="classe_id" id="classe" class="form-select bg-dark text-light">
                <option value="">Selecione uma Classe</option>
                {% for classe in classes %}
                    <option value="{{ classe['_id'] }}" {% if request.args.get('classe_id') == classe['_id'] %} selected {% endif %}>
                        {{ classe['classe'] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Filtrar</button>
        </div>
    </form>
    {% if not request.args.get('classe_id') %}
    <p class="alert alert-danger mt-2">Nenhuma classe selecionada.</p>
  {% else %}
    {% if classe %}
      <h2 class="mb-4">
        Alunos da Classe: {{ classe['classe'] }}
      </h2>
    {% endif %}
  {% endif %}
  
    {% if classe %}
    <form method="POST" action="{{ url_for('salvar_presenca') }}">
        <input type="hidden" name="classe_id" value="{{ request.args.get('classe_id') }}">
        <div class="table-responsive mb-4">
            <table class="table table-dark table-striped table-bordered align-middle">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Presença</th>
                        <th>Presença</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                    <tr>
                      <td>
                        <input type="hidden" name="aluno_id[]" value="{{ aluno._id }}">
                        {{ aluno.nome }}
                      </td>
                      <td>
                        <div class="btn-group" data-bs-toggle="buttons">
                          <input type="checkbox" class="btn-check" name="presenca_{{ aluno._id }}_1" id="btn-check-turno1_{{ aluno._id }}" autocomplete="off">
                          <label class="btn btn-outline-primary" for="btn-check-turno1_{{ aluno._id }}">Turno 1</label>                                                  </div>
                      </td>
                      <td>
                        <div class="btn-group" data-bs-toggle="buttons">
                          <input type="checkbox" class="btn-check" name="presenca_{{ aluno._id }}_2" id="btn-check-turno2_{{ aluno._id }}" autocomplete="off">
                          <label class="btn btn-outline-primary" for="btn-check-turno2_{{ aluno._id }}">Turno 2</label>
                        </div>
                      </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-success">Salvar Presença</button>
    </form>
    {% endif %}
{% endblock %}

