{% extends "base/base.html" %}

{% block title %}Histórico de Presença{% endblock %}

{% block content %}
<h1>Histórico de Presença</h1>

<!-- Filtro de Classe -->
<h2>Selecionar Classe</h2>
<form method="GET" action="{{ url_for('lista_presenca') }}">
    <label for="classe">Escolha uma Classe:</label>
    <select name="classe" id="classe">
        <option value="">Todas as Classes</option>
        {% for classe in classes %}
        <option value="{{ classe['_id'] }}" {% if classe['_id']|string == request.args.get('classe') %} selected {% endif %}>
            {{ classe['classe'] }}
        </option>
        {% endfor %}
    </select>
    <button type="submit">Filtrar</button>
</form>

{% if registros %}
    <h2>{% if request.args.get('classe') %}Histórico da Classe: {{ selected_classe_nome }}{% else %}Todas as Presenças{% endif %}</h2>

    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Classe</th>
                <th>Aluno</th>
                <th>Presença</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
                <tr>
                    <td>{{ registro['data'].strftime('%d/%m/%Y %H:%M') }}</td>
                    <td>{{ registro['nome_classe'] }}</td>
                    <td>{{ registro['nome_aluno'] }}</td>
                    <td>{{ "Presente" if registro.get('presenca', True) else "Ausente" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum registro encontrado para esta classe.</p>
{% endif %}
{% endblock %}
